<template>
  <q-page class="flex flex-center">
    <q-table title="Organisations" :rows="organizations" :columns="columns" row-key="id"
      @row-click="viewOrganizationDetails">
      <template v-slot:top-right>

        <q-btn flat dense label="Ajouter une organisation" icon="add" @click="createOrganizationDialog = true">
        </q-btn>
        <q-dialog v-model="createOrganizationDialog" persistent>
          <q-card style="min-width: 350px">
            <q-card-section>
              <div class="text-h6">Créer une nouvelle organisation</div>
            </q-card-section>

            <q-form @submit="createOrganization(modal_name, modal_status, modal_referent_name, modal_referent_function, modal_referent_mail, modal_referent_phone)" @reset="resetOrganizationForm" class="q-gutter-md">

              <q-input filled v-model="modal_name" label="Nom *" hint="Nom" lazy-rules
                :rules="[ val => val && val.length > 0 || 'Le nom est obligatoire']" />
              <q-input filled v-model="modal_status" label="Status *" hint="Status" lazy-rules
                :rules="[ val => val && val.length > 0 || 'Le status est obligatoire']" />
              <q-input filled v-model="modal_referent_name" label="Referent Name *" hint="Referent Name" lazy-rules
                :rules="[ val => val && val.length > 0 || 'Le Referent Name est obligatoire']" />
              <q-input filled v-model="modal_referent_function" label="Referent Function *" hint="Referent Function" lazy-rules
                :rules="[ val => val && val.length > 0 || 'Le Referent Function est obligatoire']" />
              <q-input filled v-model="modal_referent_mail" label="Referent Mail *" hint="Referent Mail" lazy-rules type="email"
                :rules="[ val => val && val.length > 0 || 'Le Referent Mail est obligatoire']" />
              <q-input filled v-model="modal_referent_phone" label="Referent Phone *" hint="Referent Phone" lazy-rules type="tel" mask="## ## ## ## ##" unmasked-value
                :rules="[ val => val && val.length > 0 || 'Le Referent Phone est obligatoire', val => val.length == 10 || 'Numéro de téléphone incorrect']" />


              <q-card-actions align="right" class="text-primary">
                <q-btn flat label="Annuler" type="reset" v-close-popup />
                <q-btn flat label="Créer l'organisation" type="submit" />
              </q-card-actions>
            </q-form>
          </q-card>
        </q-dialog>

      </template>
    </q-table>
  </q-page>
</template>

<script>
import { defineComponent } from 'vue'
import { api } from 'boot/axios'
import { ref } from 'vue'
import { useQuasar } from 'quasar'

const columns = [
  { name: 'name', field: 'name', label: 'Name', sortable: true },
  { name: 'status', field: 'status', label: 'Status', sortable: true },
  { name: 'referent_name', label: 'Referent Name', field: 'referent_name', sortable: true },
  { name: 'referent_function', label: 'Referent Function', field: 'referent_function' },
  { name: 'referent_mail', label: 'Referent Mail', field: 'referent_mail' },
  { name: 'referent_phone', label: 'Referent Phone', field: 'referent_phone' }
]

export default defineComponent({
  name: 'AllOrganizations',
  data() {
    return {
        organizations:[],
        columns,
    }
  },
  methods: {
    viewOrganizationDetails(e, row) {
      const orgId = row.id
      this.$router.push(`/organization/${orgId}`)
    }
  },
  setup() {
    const $q = useQuasar()

    const modal_name = ref(null)
    const modal_status = ref(null)
    const modal_referent_name = ref(null)
    const modal_referent_function = ref(null)
    const modal_referent_mail = ref(null)
    const modal_referent_phone = ref(null)
    const createOrganizationDialog = ref(false)

    return {
      modal_name,
      modal_status,
      modal_referent_name,
      modal_referent_function,
      modal_referent_mail,
      modal_referent_phone,
      createOrganizationDialog,

      
      createOrganization(modal_name, modal_status, modal_referent_name, modal_referent_function, modal_referent_mail, modal_referent_phone) {
        const data = { 
          "name": modal_name, 
          "status": modal_status, 
          "referent_name": modal_referent_name, 
          "referent_function": modal_referent_function, 
          "referent_mail": modal_referent_mail, 
          "referent_phone": modal_referent_phone
        }
        api.post("/organizations", data, {headers: {'Content-Type': 'application/json'}})
          .then(res => {
            this.resetOrganizationForm()
            createOrganizationDialog.value = false
            const newRows = this.organizations
            newRows.push(data)
            this.organizations = newRows
            $q.notify({
              message: 'L\'organisation a été créée',
              color: 'green'
            })
          })
        
      },
      resetOrganizationForm () {
        modal_name.value = null
        modal_status.value = null
        modal_referent_name.value = null
        modal_referent_function.value = null
        modal_referent_mail.value = null
        modal_referent_phone.value = null
      }
    }
  },
  beforeMount() {
    api.get("/organizations")
      .then(res => this.organizations = res.data["hydra:member"]);
  },
})

</script>