<template>
  <div class="q-pa-md row items-start q-gutter-md">
    <q-card style="width:20%">
      <q-card-section>
        Organization
      </q-card-section>
      <q-separator inset />
      <q-item>
        <div>Name</div>
        <q-separator/> 
        <div style="margin-left: auto; margin-right: 0;">{{ organization.name }}</div>
      </q-item>
      <q-separator inset />
      <q-item>
        <div>Status</div>
        <q-separator/> 
        <div style="margin-left: auto; margin-right: 0;">{{ organization.status }}</div>
      </q-item>
      <q-separator inset />
      <q-item>
        <div>Referent Name</div>
        <q-separator/> 
        <div style="margin-left: auto; margin-right: 0;">{{ organization.referent_name }}</div>
      </q-item>
      <q-separator inset />
      <q-item>
        <div>Referent Function</div>
        <q-separator/> 
        <div style="margin-left: auto; margin-right: 0;">{{ organization.referent_function }}</div>
      </q-item>
      <q-separator inset />
      <q-item>
        <div>Referent Mail</div>
        <q-separator/> 
        <div style="margin-left: auto; margin-right: 0;">{{ organization.referent_mail }}</div>
      </q-item>
      <q-separator inset />
      <q-item>
        <div>Referent Phone</div>
        <q-separator/> 
        <div style="margin-left: auto; margin-right: 0;">{{ organization.referent_phone }}</div>
      </q-item>
    </q-card>
    <div style="width:55%">
      <q-card>
        <q-card-section>
          Utilisateurs
        </q-card-section>
        <q-table
          :rows="appUsers"
          :columns="columnsAppUser"
          row-key="id"
        >
        <template v-slot:top-right>
          <q-btn flat dense label="Ajouter un utilisateur" icon="add" @click="createUserDialog = true">
          </q-btn>
          <q-dialog v-model="createUserDialog" persistent>
            <q-card style="min-width: 350px">
              <q-card-section>
                <div class="text-h6">Créer un nouvel utilisateur</div>
              </q-card-section>

              <q-form @submit="createUser(modal_user_first_name, modal_user_last_name, modal_user_status)" @reset="resetUserForm" class="q-gutter-md">

                <q-input filled v-model="modal_user_first_name" label="Prénom *" hint="Prénom" lazy-rules
                  :rules="[ val => val && val.length > 0 || 'Le nom est obligatoire']" />
                <q-input filled v-model="modal_user_last_name" label="Nom de famille *" hint="Nom de famille" lazy-rules
                  :rules="[ val => val && val.length > 0 || 'Le nom de famille est obligatoire']" />
                <q-input filled v-model="modal_user_status" label="Status *" hint="Status" lazy-rules
                  :rules="[ val => val && val.length > 0 || 'Le status est obligatoire']" />


                <q-card-actions align="right" class="text-primary">
                  <q-btn flat label="Annuler" type="reset" v-close-popup />
                  <q-btn flat label="Créer l'utilisateur" type="submit" />
                </q-card-actions>
              </q-form>
            </q-card>
          </q-dialog>
          </template>
      
        </q-table>
      </q-card>
      <br>
      <q-card>
        <q-card-section>
          Contacts
        </q-card-section>
        <q-table
          :rows="talks"
          :columns="columnsTalk"
          row-key="id"
        />
      </q-card>
    </div>
    <q-card style="width:20%">
        <q-card-section>
          <q-item>
          Rappels
          </q-item>
        </q-card-section>
        <q-table
          :rows="reminders"
          :columns="columnsReminder"
          row-key="id"
        />
      </q-card>
  </div>
</template>


<script>
import { defineComponent } from 'vue'
import { api } from 'boot/axios'
import { ref } from 'vue'
import { useQuasar } from 'quasar'

const columnsTalk = [
  { name: 'datetime', field: 'datetime', label: 'Date', sortable: true },
  { name: 'note', field: 'note', label: 'Commentaire', sortable: true },
]

const columnsAppUser = [
  { name: 'last_name', field: 'last_name', label: 'Nom', sortable: true },
  { name: 'first_name', field: 'first_name', label: 'Prénom', sortable: true },
  { name: 'status', field: 'status', label: 'Status', sortable: true },
  { name: 'last_login', field: 'last_login', label: 'Dernière connexion', sortable: true },
  { name: 'created_at', field: 'created_at', label: 'Date de création', sortable: true },
  { name: 'deleted_at', field: 'deleted_at', label: 'Date de suppression', sortable: true },
]

const columnsReminder = [
  { name: 'status', field: 'status', label: 'Status', sortable: true },
  { name: 'note', field: 'note', label: 'Note', sortable: true },
]

export default defineComponent({
  name: 'OrganizationInformation',
  data() {
    return {
        columnsTalk,
        columnsAppUser,
        columnsReminder,
        organization:[],
        talks:[],
        appUsers:[],
        reminders:[],
    }
  },
  setup() {
    const $q = useQuasar()

    const modal_user_first_name = ref(null)
    const modal_user_last_name = ref(null)
    const modal_user_status = ref(null)
    const createUserDialog = ref(false)

    return {
      modal_user_first_name,
      modal_user_last_name,
      modal_user_status,
      createUserDialog,

      createUser(modal_user_first_name, modal_user_last_name, modal_user_status) {
        const organizationId = this.$route.params.id;
        const data = { 
          "first_name": modal_user_first_name, 
          "last_name": modal_user_last_name, 
          "status": modal_user_status,
          "created_at": this.formatDate(new Date()),
          "organization": `/organizations/${organizationId}`
        }
        console.log(data)
        api.post("/app_users", data, {headers: {'Content-Type': 'application/json'}})
          .then(res => {
            this.resetOrganizationForm()
            createUserDialog.value = false
            const newRows = this.appUsers
            newRows.push(data)
            this.appUsers = newRows
            $q.notify({
              message: 'L\'utilisateur a été créée',
              color: 'green'
            })
          })
        
      },
      resetOrganizationForm () {
        modal_user_first_name.value = null
        modal_user_last_name.value = null
        modal_user_status.value = null
      }
    }
  },
  methods: {
    getTalks() {
      for(let talk of this.organization.talks) {
        api.get(talk)
          .then(res => { this.talks.push(res.data); });
      }
    },
    getAppUsers() {
      for(let appUser of this.organization.appUsers) {
        api.get(appUser)
          .then(res => { this.appUsers.push(res.data); });
      }
    },
    getReminders() {
      for(let reminder of this.organization.reminders) {
        api.get(reminder)
          .then(res => { this.reminders.push(res.data); });
      }
    },
    formatDate(date, format="YYYY-MM-DDThh:mm:ss.msZ") {
        const newDate = format
          .replace("YYYY", date.getFullYear())
          .replace("MM", date.getMonth() < 9 ? "0" + (date.getMonth()+1) : date.getMonth()+1)
          .replace("DD", date.getDate() < 10 ? "0" + date.getDate() : date.getDate())
          .replace("hh", date.getHours() < 10 ? "0" + date.getHours() : date.getHours())
          .replace("mm", date.getMinutes() < 10 ? "0" + date.getMinutes() : date.getMinutes())
          .replace("ss", date.getSeconds() < 10 ? "0" + date.getSeconds() : date.getSeconds())
          .replace("ms", date.getMilliseconds())
        return newDate
    }
  },
  beforeMount() {
    const organizationId = this.$route.params.id;
    api.get(`/organizations/${organizationId}`)
      .then(res => { 
        this.organization = res.data;
        this.getAppUsers();
        this.getTalks();
        this.getReminders();
      });
  }
})
</script>